<head>

<script type="text/javascript" src="https://access.ciup.fr/wp-content/themes/Bethemeaccess/tarteaucitron/tarteaucitron.js"></script>

        <script type="text/javascript">
        tarteaucitron.init({
    	  "privacyUrl": "https://access.ciup.fr/politique-de-cookies/", /* Privacy policy url */

    	  "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
    	  "cookieName": "tarteaucitron", /* Cookie name */
    
    	  "orientation": "middle", /* Banner position (top - bottom) */
                           
    	  "showAlertSmall": false, /* Show the small banner on bottom right */
    	  "cookieslist": false, /* Show the cookie list */
                           
          "closePopup": false, /* Show a close X on the banner */

          "showIcon": true, /* Show cookie icon to manage cookies */
          "iconPosition": "BottomLeft", /* BottomRight, BottomLeft, TopRight and TopLeft */

    	  "adblocker": false, /* Show a Warning if an adblocker is detected */
                           
          "DenyAllCta" : true, /* Show the deny all button */
          "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
          "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */
                           
    	  "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

    	  "removeCredit": false, /* Remove credit link */
    	  "moreInfoLink": true, /* Show more info link */

          "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
          "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */

    	  //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */
                          
          "readmoreLink": "https://access.ciup.fr/politique-de-cookies/", /* Change the default readmore link */

          "mandatory": true, /* Show a message about mandatory cookies */
        });
 (tarteaucitron.job = tarteaucitron.job || []).push('youtube');

//tarteaucitron.user.cripsWebsiteId = "effaf24f-721a-4dcb-bdd8-f50d84afe611";
//tarteaucitron.user.cripsMore = function () {
    // Ajouter ici les $crisp.push()
  // CRISP_RUNTIME_CONFIG = {
  // locale : "fr"
// };

// window.$crisp=[];window.CRISP_WEBSITE_ID="effaf24f-721a-4dcb-bdd8-f50d84afe611";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();
  // $crisp.push(["on", "chat:initiated", ["do", "message:show", ["text", "Je suis EMI (assistant virtuel), l'Éclaireur de votre Mobilité Internationale ! Pour commencer, saisissez un mot, répondez aux questions et laissez vous guider !"]]]);
  // $crisp.push(["session", "chat:initiated", $crisp.push(["do", "message:show", ["text", "Bienvenue ! Comment pouvons-nous vous aider ?<br><br>Welcome! How can we help you?"]])]);
//};
//(tarteaucitron.job = tarteaucitron.job || []).push('crips');

/* recptcha retiré 
 tarteaucitron.user.recaptchaapi = '6LfovZIUAAAAALJO01imCY8yG5wI2FZM4vkTXcxC';
        (tarteaucitron.job = tarteaucitron.job || []).push('recaptcha'); */



        </script>





<title>Test Cookies</title>
</head>

<body>
<p> Hello Word</p>
</body>
